:80 {
    # Frontend (Vite HMR Websocket needs special handling? Usually Caddy handles it)
    handle /api/* {
        reverse_proxy backend:5000
    }

    handle /hubs/* {
        reverse_proxy backend:5000
    }

    handle /* {
        reverse_proxy frontend:5173
    }
}
